body {
    background-color: lightsteelblue;
}

h1 {
    text-indent: 5%;
}

.formColor {
    background-color: mintcream;
}

table, th, td {
    border: 3px solid black;
 }


.tableBorder {
    border: 3px solid black;
}

.cardBorder {
    border: 1px solid black;
}